<?xml version="1.0"?>

<!-- This file creates the sensor fusion node -->

<launch>
  <arg name="ns"    default="ridge0"/>
  <arg name="x"     default="0"/>
  <arg name="y"     default="0"/>
  <arg name="z"     default="0"/>
  <arg name="roll"  default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw"   default="0"/>

 <!-- Robot localisation, takes IMU and wheel odometry to form a single localisation
       estimate. This is the local filter, providing the odom to base_link transformation. -->

<node pkg="robot_localization" type="ekf_localization_node" name="local_ekf_localization" ns="$(arg ns)">
    <rosparam command="load" file="$(find multi_ridge)/launch/local_ekf.yaml"/>
    <!--<param name="map_frame"       value="map"/>-->
    <param name="odom_frame"      value="$(arg ns)/odom"/>
    <param name="base_link_frame" value="$(arg ns)/base_link"/>
    <param name="world_frame"     value="$(arg ns)/odom"/>
    <remap from="odometry/filtered" to="odometry/local_filtered"/>
</node>

</launch>
