<?xml version="1.0"?>
<launch>
 <node name="odom_pub_1" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge0"/>
 </node>
 <node name="odom_pub_2" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge1"/>
 </node>	
 <node name="odom_pub_3" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge2"/>
 </node>
 <node name="odom_pub_4" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge3"/>
 </node>
 <node name="odom_pub_5" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge4"/>
 </node>
 <node name="odom_pub_6" pkg="gazebo_odom_publisher" type="gazebo_odom_multi.py" output="screen">
    <param name="robotName" type="string" value="ridge5"/>
 </node>
 
</launch>
